<div class="hero" data-react-entrypoint="hero_section">
  
</div>

{% schema %}
  {
    "name": "Hero",
    "class": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }
    ]
  }
{% endschema %}
