<div class="hero" data-react-entrypoint="hero_section">
  
</div>

{% schema %}
  {
    "name": "Hero",
    "class": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Hero Settings"
      },
      {
        "type": "text",
        "id": "hero_heading_text",
        "label": "Hero Heading"
      },
      {
        "type": "text",
        "id": "hero_button_text",
        "label": "Hero Button"
      }
    ],
    "presets": [
      {
        "name": "Hero Heading"
      }
    ]
  }
{% endschema %}
